.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/img/fondoIman.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (max-width:768px) {
        justify-content: center;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10rem;

    @media (max-width:768px) {
        justify-content: center;
        padding-left: 0rem;
        align-items: center;
    }

}

.logo {
    width: 25rem;
    height: 15rem;

    @media (max-width:768px) {
        width: 15rem;
        height: 10rem;
    }

}

.subtitle {
    color: white;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin: 0;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;

    @media (max-width:768px) {
        font-size: 1rem;
        width: 70%;
        line-height: normal;
        text-align: center;
    }
}



.button {
    margin-left: 1.5rem;
    border-radius: 1rem;
    border: 1px white solid;
    background: transparent;
    box-shadow: 0px 4px 8px 0px rgba(21, 21, 21, 0.10);
    display: flex;
    width: 5.375rem;
    height: 1.75rem;
    padding: 0.5rem 1.2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: white;
    text-decoration: none;
}