
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: transparent; 
    padding: 2rem 2rem;
    z-index: 10; 
    @media (max-width:768px) {
      display: none;
  }
  }
  
  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 3rem;
  
    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
  
      &:hover {
        text-decoration: none;
        background-color: #263fcb56;
        border-radius: 0.5rem;
        padding: 1rem;
      }
    }
  }
  