
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent; 
    padding: 2rem 4rem;
    z-index: 10; 
    transition: background-color 0.3s ease-in-out;
 

  }

  .scrolled {
    background: linear-gradient(90deg, #6845FD 0%, #5142ED 26%, #183BC5 79%, #0038B5 100%);
  }
  
  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width:768px) {
      display: none;
    }
  }

  .logo {
    position: absolute;
    left: 10rem;
    bottom: 1.4rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    @media (max-width:768px) {
      bottom: 1.1rem;
      left: 9rem;
      
    }
  
    img {
      height: 30px; 
      @media (max-width:768px) {
        height: 20px;
      }
    }
  }
  
  .logoVisible {
    opacity: 1;
  }
  
  .navItem {
    margin-left: 3rem;
  
    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      position: relative; 
  
      &:hover {
        text-decoration: none;
      }
  
      &:hover::after {
        content: '';
        position: absolute;
        bottom: -8px; 
        left: 0;
        width: 50%; 
        height: 2px; 
        background-color: white; 
        transition: width 0.3s ease-in-out;
      }
    }
  }

  

  .header-menu{
    display: flex;
    position: relative;
    @media (min-width:768px) {
     display: none;
    }
}
  