.navbar {
  position: fixed;
  top: 1.31rem;
  left: 1.31rem;
  right: 1.31rem;
  margin: 0 auto;
  max-width: 117.0625rem;
  z-index: 1000;
  padding: 1.3125rem 4.75rem 1.25rem 4.75rem;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: rgba(0, 7, 56, 0.9);
  backdrop-filter: blur(11px);
  transition: all 0.4s ease;
  box-sizing: border-box;
  height: 7rem;

  .navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      display: inline;
    }
  }

  @media (max-width: 768px) {
    padding:0;
    background: #000738;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: start;
    background: transparent;
    backdrop-filter: none;
  }
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.logo {
  transition: opacity 0.3s ease-in-out;

  @media (max-width: 768px) {
    display: none;
  }

  img {
    height: 30px;

    @media (max-width: 768px) {
      height: 20px;
    }
  }
}

.navbar-button {
  @media (max-width: 768px) {
    display: none;
  }
}

.logoVisible {
  opacity: 1;
}



.navLink {
  color: white;
  text-decoration: none;
  font-size: clamp(0.8rem, 0.6301rem + 0.7249vw, 1.5rem);
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 50%;
  }
}

.navLinkActive {
  &::before {
    width: 50%;
  }
}

.header-menu {
  display: flex;
  position: relative !important;

  @media (min-width: 768px) {
    display: none;
  }
}
