.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('/img/fondoBandera.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (max-width:768px) {
        height:40vh;
        align-items: flex-start;

    }
}

.info-container{
    gap: 2rem;
    @media (max-width:768px) {
        gap: 0rem;
    }
}

.title {
    text-align: start;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:white;
    width: 100%;
    @media (max-width:768px) {
        font-size: 0.7rem;
        width: 100%;
        text-align: flex-start;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10rem;


    @media (max-width:768px) {
        justify-content: flex-start;
        padding-left: 3rem;
        align-items: flex-start;
    }
}


.info-contacto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10rem;
    gap: 1rem;
    @media (max-width:768px) {
        padding-left: 3rem;
        gap: 0.5rem;
    }

}

.text {
    color: white;
    font-size: 1rem;
    line-height: normal;
    width: 18rem;
    margin: 0;

    @media (max-width:768px) {
        font-size: 0.7rem;
        width: 100%;
        line-height: normal;
        text-align: start;
    }
}

.socialmedia-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10rem;
    gap: 1rem;
    margin-top: 2rem;
    @media (max-width:768px) {
        padding-left: 3rem;
        gap: 0.5rem;
        margin-top: 1rem;
    }
}

.red-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-decoration: none;
}

  
.icon {
    width: 20px; 
    height: auto;
    @media (max-width:768px) {
        width: 10px;
    }
  }

.logo-container {
    padding-left: 9rem;
    @media (max-width:768px) {
        padding-left: 3rem;
        margin-top: 3rem;
    }
  }
  
  .logo {
    width: 300px; 
    height: auto;
    @media (max-width:768px) {
        width: 100px;
    }
  }