.container-section {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
      height: auto;
      gap: 1rem;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
    color: #0040b2;
    text-align: center; 
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }