.button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.00419rem;
  font-family: var(--font-albert);
  /* 133.612% */
  border: none;
  display: inline-flex; // Base común
  @media screen and (max-width: 1600px) {
    font-size: 1.125rem;
  }
   @media screen and (max-width: 780px) {
    font-size: 1.1893rem;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Variante Principal
  &.principal {
    display: inline-flex;
    padding: 1.33613rem 2.00419rem;
    flex-direction: column;
    align-items: center;
    border-radius: 16.70144rem;
    background: var(--Secundario-0, #5edeff);
    color: #000;
    @media screen and (max-width: 1600px) {
      padding: 1.00206rem 1.50313rem;
    }
    @media screen and (max-width: 1200px) {
      padding: 0.6rem 0.8rem;
    }

    &:hover {
      transform: translateY(-2px);
      background: var(--Secundario-2, #00bfe0);
    }
  }

  // Variante Secundary
  &.secundary {
    display: flex;
    max-width: 53.44469rem;
    padding: 1.41963rem 2.08769rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16.70144rem;
    border: 1.336px solid var(--Secundario-0, #5edeff);
    background: transparent;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 1600px) {
      padding: 1.00206rem 1.50313rem;
    }
    @media screen and (max-width: 1200px) {
      padding: 0.6rem 0.8rem;
    }

    &:hover {
      background: #5edeff30;
      transform: translateY(-2px);
    }
  }
}
