.container-section {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @media (max-width: 768px) {
      height: auto;
      gap: 1rem;
    }
  }
  
  .header-section {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 10%;
    @media (max-width: 768px) {
      padding-left: 4rem;
      width: 100%; 
    }
  }
  
  .title {
    font-size: 2rem;
    font-weight: 600;
    color: #0040b2;
    text-align: start; 
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  
  .subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    text-align: start; 
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
  
  .grid-container {
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 7rem; 
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1rem;
    }
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 25%;
    position: relative;
    @media (max-width: 768px) {
        width: 60%;
      }
  }

  .card-container:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -4rem; 
    top: 13rem;
    bottom: 0;
    width: 2px;
    height: 8rem;
    background-color: #c8c9ca88; 
    @media (max-width: 768px) {
      right: auto;
      bottom: -0.5rem; 
      left: 0;
      right: 0;
      height: 1px;
      width: auto;
      top: 20rem;
    }
  }
  
  .image {
    width: 170px;
    height: 170px;
    @media (max-width: 768px) {
      width: 170px;
      height: 170px;
    }
  }
  
  .title-card {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0040b2;
    line-height: 1.5rem;
    margin: 1rem 0;
    @media (max-width: 768px) {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
  
  .info-card {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    @media (max-width: 768px) {
      font-size: 0.9rem;
      line-height: 1rem;
    }
  }
  