.section-includes {
  background: url("/img/IncludesComponent/backgorundIncudes.png");
  width: 100%;
  background-size: cover;
  background-position: center;
}
.container-includes {
  display: flex;
  max-width: 1920px;
  justify-content: space-between;
  align-items: center;
  padding: 8.95rem 10rem;
  margin: 0 auto;
  @media (max-width: 1300px) {
    padding: 8.95rem 6rem;
    gap: 2rem;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 6.82rem 1.5rem;
  }
}

.half-blue {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    height: 40svh;
  }
}

.text-container-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 650px;
  height: 650px;
  pointer-events: none;
  @media (max-width: 1300px) {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    width: 350px;
    height: 350px;
  }
}

.half-white {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 100%;
    height: 25vh;
    flex-direction: row;
  }
}

.right-text-includes {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  :nth-child(2) {
    padding-left: 7rem;
    @media (max-width: 768px) {
      padding-left: 0rem;
    }
  }
  :nth-child(3) {
    padding-left: 14rem;
    @media (max-width: 768px) {
      padding-left: 0rem;
    }
  }
  :nth-child(4) {
    padding-left: 7rem;
    @media (max-width: 768px) {
      padding-left: 0rem;
    }
  }

  .info-includes {
    color: #fff;
    font-size: 1.8535rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 0.8rem;
    font-family: var(--font-barlow);
    @media screen and (max-width: 1600px) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 0.875rem;
      gap: 0.4rem;
    }
    &::before {
      content: "";
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      width: 0.75825rem;
      height: 4.21256rem;
      background: linear-gradient(
        180deg,
        #3bd7ff 0%,
        rgba(0, 209, 255, 0) 100%
      );
      @media screen and (max-width: 768px) {
        height: 2.5rem;
        width: 0.375rem;
      }
    }
  }
}

.section-title {
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 14px;
  font-weight: 200;
  color: white;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}

.title-includes {
  color: var(--Secundario-0, #5edeff);
  font-size: 3.80963rem;
  font-style: normal;
  font-weight: 300;
  line-height: 107.688%;
  margin: 0;
  @media (max-width: 1300px) {
    font-size: 2rem;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.subtitle-includes {
  color: #fff;
  font-size: 4.86456rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  @media (max-width: 1300px) {
    font-size: 3rem;
  }
  @media (max-width: 768px) {
    font-size:  1.98144rem;
    line-height: 1rem;
  }
}

.text-container-right {
  width: 60%;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    padding-right: 2rem;
  }
}

.image {
  width: 25rem;
  height: 25rem;

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
    padding-left: 2rem;
  }
}

.info {
  text-align: start;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 2rem;
  margin-bottom: 7rem;

  .bold-text {
    font-weight: bold;
  }

  @media (max-width: 768px) {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 0rem;
  }
}
