.container-nav-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4632.35256rem;
  background: rgba(0, 7, 56, 0.81);
  backdrop-filter: blur(17.417644500732422px);
  padding: 1.8125rem 2.4125rem 1.7265rem 2.1875rem;
  margin: 1rem;
  &::before {
    content: "";
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #000738;
    z-index: -10;
    transition: 0.2s all;
    pointer-events: none;
    transform: translateX(-50%);
    opacity: 0;
  }

  &.active {
    &::before {
      border-radius: 0%;
      width: 1800px;
      height: 1800px;
      left: 0%;
      top: -20%;
      opacity: 1;
    }

    .navContainer {
      opacity: 1;
      pointer-events: all;
      transition-delay: 0.2s;
      height: 100%;
      margin-top: 5.25rem;
    }
  }

  .navContainer {
    opacity: 0;
    pointer-events: none;
    height: 0;
    margin-top: 0;
  }
}
.iconMenuContainer {
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  display: flex;
  border-radius: 9.56844rem;
  background: var(--Secundario-0, #5edeff);
  padding: .7rem;

  @media (min-width: 768px) {
    display: none;
  }
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
  overflow-x: hidden;
}

.menuOpen {
  transform: translateX(10%);
}

.closeIconContainer {
  cursor: pointer;
  margin-right: 3rem;
}

.navigationContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 10rem;
  gap: 3rem;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.62rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navItem {
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
  }
}

.buttonContact {
  display: flex;
  width: 16.815rem;
  height: 3.5625rem;
  padding: 1.04638rem 1.56956rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
