.container {
    display: flex;
    height: 100vh;
    overflow: hidden;

    @media (max-width:768px) {
        flex-direction: column;
        height: 50vh;
    }
}

.half-blue {
    width: 50%;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        width: 100%;
        height: 25vh;
    }

}

.half-white {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width:768px) {
        width: 100%;
        height: 25vh;
    }

}

.text-container-left {
    color: white;
    width: 70%;

    @media (max-width:768px) {
        padding: 2rem;
        width: 100%;
    }
}

.title {
    text-align: start;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #0040b2;

    @media (max-width:768px) {
        font-size: 1rem;
    }
}


.subtitle {
    text-align: start;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2rem;
    color: black;

    @media (max-width:768px) {
        font-size: 0.9rem;
        line-height: 1rem;


    }

}

.icons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3rem;
    justify-items: center;
    align-items: center;
    padding: 20px;

    @media (max-width:768px) {
        gap: 0rem 1rem;
        grid-template-columns: repeat(3, 1fr);

    }
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 200px;
    height: 200px;
    object-fit: contain;

    @media (max-width:768px) {
        width: 100px;
        height: 100px;
    }
}

.vertical-divider-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        display: none;
    }

}

.vertical-divider {
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
    height: 50%;
    align-content: center;
    justify-content: center;
}