.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.half-blue {
    width: 50%;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-white {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container-left {
    color: white;
    width: 70%;

}

.title {
    text-align: start;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #0040b2
}

.subtitle {
    text-align: start;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2rem;
    color: black;

}
.icons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 8rem; 
    justify-items: center; 
    align-items: center; 
    padding: 20px; 
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 200px; 
    height: 200px; 
    object-fit: contain; 
  }

