.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/img/fondoRompecabezas.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (max-width:768px) {
        justify-content: center;
        height:40vh;
    }
}

.section-title {
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 14px;
    font-weight: 200;
    color: #ffffff;
  
    @media (max-width: 768px) {
      font-size: 0.8rem;
      text-underline-offset: 8px;
    }
}

.title {

    text-align: start;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color:white;
    width: 30%;
    @media (max-width:768px) {
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 13%;

    @media (max-width:768px) {
        justify-content: center;
        padding-left: 0rem;
        align-items: center;
    }

}

.logo {
    width: 25rem;
    height: 15rem;

    @media (max-width:768px) {
        width: 15rem;
        height: 9rem;
    }

}

.subtitle {
    color: white;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 30rem;
    margin: 0;

    @media (max-width:768px) {
        font-size: 0.8rem;
        width: 90%;
        line-height: normal;
        text-align: center;
    }
}