.container-section-about {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-top: 8.5rem;
  @media (max-width: 1200px) {
    padding-left: 6rem;
    gap: 2rem;
  }
  padding-bottom: 8.5rem;
  @media screen and (max-width: 640px) {
    padding: 4.95rem 1.5rem;
    flex-wrap: wrap;
    width: revert;
    align-items: flex-end;
  }
}
.left-text-about {
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
  .top-text-about-title {
    .text-blue {
      color: var(--Secundario-2, #00bfe0);
      font-size: 4.0625rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin: 0;
      @media screen and (max-width: 1600px) {
        font-size: 3.04688rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 2.0547rem;
      }
    }
    .title {
      color: var(--Primario-2, #000d65);
      font-size: 5.1875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 1.88rem;
      margin: 0;
      padding-left: 4rem;
      @media screen and (max-width: 1600px) {
        font-size: 3.89063rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.7817rem;
      }
    }
    .subtite-about {
      color: var(--helby-webflow-ecommerce-webflow-io-black, #000);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.25rem;
      max-width: 50rem;
      margin-bottom: 3.12rem;
      font-family: var(--font-barlow);
      @media screen and (max-width: 1600px) {
        font-size: 1.125rem;
      }

      @media screen and (max-width: 640px) {
        font-size: 0.7233rem;
        margin-bottom: 1.88rem;
        margin-top: 0;
        line-height: 1.6rem;
      }
    }
  }
  .bottom-description-text {
    display: flex;
    gap: .98rem;
    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
      gap: 1.54rem;
    }
    p {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      margin: 0;
      font-size: 1.375rem;
      font-family:var(--font-barlow);
      @media screen and (max-width: 1600px) {
        font-size: 1.25rem;
      }
       @media screen and (max-width: 1200px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 640px) {
        font-size: 0.7536rem;
      }
    }
    .description-text {
      color: var(--helby-webflow-ecommerce-webflow-io-black, #000);
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      gap: 0.8rem;
      &::before {
        content: "";
        width: 12px;
        height: 100%;
        background: linear-gradient(
          180deg,
          #3bd7ff 0%,
          rgba(0, 209, 255, 0) 100%
        );
        border-radius: 4px;
        flex-shrink: 0;
      }
      strong {
        color: var(--Primario-2, #000d65);
        font-family: var(--font-albert);
        font-size: 1.66669rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media screen and (max-width: 1600px) {
          font-size: 1.25rem;
        }
        @media screen and (max-width: 1200px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 640px) {
          font-size: 0.6828rem;
        }
      }
    }
  }
}
.right-img-about {
  @media screen and (max-width: 1200px) {
    width: 50%;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: -1.5rem;
  }
  img {
    width: 100%;
    object-fit: cover; // Asegura que se vea completa
    object-position: left;
    @media screen and (max-width: 640px) {
      width: 400px;
      margin-right: -4.5rem;
    }
  }
}
