.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/img/fondoIman.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (max-width:768px) {
        justify-content: center;
        height: 70vh;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10rem;

    @media (max-width:768px) {
        justify-content: center;
        padding-left: 0rem;
        align-items: center;
    }

}

.logo {
    width: 30rem;
    height: 15rem;

    @media (max-width:768px) {
        width: 15rem;
        height: 9rem;
    }

}

.subtitle {
    color: white;
    font-size: 1.375rem;
    line-height: 2rem;
    width: 30rem;
    margin: 0;
    margin-top: 1rem;
    margin-left: 1.5rem;

    @media (max-width:768px) {
        font-size: 0.8rem;
        margin-left: 0rem;
        width: 60%;
        line-height: normal;
        margin-top: 0rem;
        text-align: center;
    }
}


.button {
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 2rem;
    color: #0041B8;
    background: white;
    box-shadow: 0px 4px 8px 0px rgba(21, 21, 21, 0.10);
    display: flex;
    width: 18.375rem;
    height: 3rem;
    padding: 0.1rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;

    @media (max-width:768px) {
        font-size: 0.8rem;
        margin-right: 0.5rem;

        width: 13rem;
        height: 1.5rem;
        padding: 0.1rem 0.5rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;

    }
}