.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/img/fondoIman.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (max-width:768px) {
        justify-content: center;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10rem;

    @media (max-width:768px) {
        justify-content: center;
        padding-left: 0rem;
        align-items: center;
    }

}

.logo{
    width: 25rem;
    height: 15rem;

    @media (max-width:768px) {
        width: 15rem;
        height: 9rem;
    }

}

.subtitle {
    color: white;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 30rem;
    margin: 0;
    margin-left: 1.5rem;
    @media (max-width:768px) {
        font-size: 0.8rem;
        margin-left: 0rem;
        width: 60%;
        line-height: normal;
        text-align: center;
    }
}
