.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.half-blue {
    width: 50%;
    height: 100%;
    background-color: #0040b2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-white {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container-left {
    color: white;
    width: 50%;

}

.title {
    text-align: start;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.subtitle {
    text-align: start;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2rem;

}

.text-container-right{
    width: 60%;
    justify-content: center;
    align-items: center;
}

.image{
    width: 25rem;
    height: 25rem;
}

.info {
    text-align: start;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2rem;

    .bold-text{
        font-weight: bold;
    }

}