.section-container {
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
    @media (max-width:768px) {
        height: auto;
        gap: 1rem;
    }
  }
  
  .title-container {
    width: 100%; 
    display: flex;
    justify-content: flex-start; 
    flex-direction: column;
    padding-left: 25%; 
    margin-top: 3rem;
    @media (max-width:768px) {
        padding-left: 4rem;
        margin-top: 0rem;

    }
  }

  .title {
    font-size: 3rem;
    font-weight: 600;
    color: #3122e5;
    @media (max-width:768px) {
        font-size: 1.5rem;

    }
  }

  .section-title {
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 14px;
    font-weight: 200;
    color: #3122e5;

    @media (max-width: 768px) {
        font-size: 0.7rem;
    }
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 77%; 
    column-gap: 5rem;
    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
        row-gap: 1rem;
    }
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .image {
    width: 170px;
    height: 170px;
    @media (max-width:768px) {
        width: 100px;
        height: 100px;
    }
  }
  
  .title-card {
    text-align: start;
    font-size: 22px;
    font-weight: 600;
    color: #3122e5;
    @media (max-width:768px) {
        font-size: 1rem;
    }
  }
  
  .info-card {
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
    @media (max-width:768px) {
        font-size: 0.8rem;
        line-height: 1rem;

    }
  }
  