.section-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
    @media (max-width:768px) {
        height: auto;
        gap: 1rem;
    }
  }
  
  .title-container {
    width: 100%; 
    display: flex;
    justify-content: flex-start; 
    padding-left: 10%; 
    @media (max-width:768px) {
        padding-left: 4rem;

    }
  }
  
  .title {
    font-size: 2rem;
    font-weight: 600;
    color: #0040b2;
    @media (max-width:768px) {
        font-size: 1rem;

    }
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 70%; 
    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
    }
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .image {
    width: 140px;
    height: 140px;
    @media (max-width:768px) {
        width: 100px;
        height: 100px;
    }
  }
  
  .title-card {
    text-align: start;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0040b2;
    @media (max-width:768px) {
        font-size: 1rem;

    }
  }
  
  .info-card {
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    @media (max-width:768px) {
        font-size: 0.8rem;
        line-height: 1rem;

    }
  }
  