.container-section {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

  @media (max-width: 768px) {
    height: auto;
    gap: 2rem;
    margin-top: 1rem;
  }
}

.title {
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 14px;
  font-weight: 200;
  color: #403EF6;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 0.8rem;
    text-underline-offset: 8px;
  }
}