.container {
    display: flex;
    height: 100vh;
    overflow: hidden;

    @media (max-width:768px) {
        flex-direction: column-reverse;
        height: auto;

    }
}

.half-blue {
    width: 50%;
    height: 100%;
    background-color: #3122e5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        width: 100%;
        height: 75vh;
    }
}

.half-white {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width:768px) {
        width: 100%;
        height: 20vh;
        flex-direction: row;
    }
}

.text-container-left {
    color: #3122e5;
    width: 50%;

    @media (max-width:768px) {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;

    }

}

.title {
    text-align: start;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (max-width:768px) {
        font-size: 1.5rem;
    }

}

.section-title {
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 14px;
    font-weight: 200;
    color: #3122e5;

    @media (max-width: 768px) {
        font-size: 0.8rem;
        text-underline-offset: 8px;
    }
}

.subtitle {
    text-align: start;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2rem;
    color: rgb(0, 0, 0);
    opacity: 1;

    @media (max-width:768px) {
        font-size: 0.9rem;
        line-height: 1rem;
    }

}

.text-container-right {
    width: 60%;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        width: 100%;
        padding-right: 2rem;

    }


}

.image {
    width: 25rem;
    height: 25rem;

    @media (max-width:768px) {
        width: 100px;
        height: 100px;
        padding-left: 2rem;
    }
}

.info {
    text-align: start;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2rem;

    .bold-text {
        font-weight: bold;
    }

    @media (max-width:768px) {
        font-size: 0.9rem;
        line-height: 1rem;
    }
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1;
    }
  }
  
  .input-container-half {
      flex: 1;
  }

  .input-container-full {
      width: 100%;
  }

.form-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    gap: 1rem;

    @media (max-width:768px) {
        width: 70%;

    }

}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;

}

.label {
    color: white;
    font-size: 1rem;

    @media (max-width:768px) {
        font-size: 0.8rem;

    }
}

.input {
    padding: 10px; 
    box-sizing: border-box;
    border-radius: 0.7rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    box-shadow: 0px 4px 8px 0px rgba(26, 25, 25, 0.137);
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border: 2px solid #979797;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26), 1px 1px 8.7px 0px rgba(255, 255, 255, 0.356);
        outline: none;
    }

    @media (max-width: 768px) {
        height: 2.5rem;
    }
}

.input::placeholder {
    color: #999;
    font-size: 0.8rem;
    padding-left: 1rem;
}

.input-text-area {
padding: 10px; 
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    border: none;
    font-size: 0.9rem;
    border-radius: 1rem;
    resize: none;
    height: auto;
    box-shadow: 0px 4px 8px 0px rgba(26, 25, 25, 0.137);
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border: 2px solid #979797;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26), 1px 1px 8.7px 0px rgba(255, 255, 255, 0.356);
        outline: none;
    }

    @media (max-width: 768px) {
        font-size: 0.7rem;
        border-radius: 0.7rem;
    }
}

.input-text-area::placeholder {
    color: #999;
    font-size: 0.8rem;
    padding-left: 1rem;
    margin-top: 5rem;
}

.button {
    cursor: pointer;
    border-radius: 4rem;
    color: #0041B8;
    background: white;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 100%;
    height: 3rem;
    padding: 0.1rem 0.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;

    &:hover {
        background-color: #b7b8ff; 
        color: white; 
        box-shadow: 0px 4px 8px 0px rgba(19, 18, 18, 0.336);
      }

    @media (max-width:768px) {
        font-size: 0.8rem;
        margin-right: 0.5rem;
        width: 17rem;
        font-size: 0.8rem;
        height: 2rem;
        padding: 0.1rem 0.5rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;

    }
}

.disabled {
    cursor: auto;
    border-radius: 4rem;
    color: #7e7e7e;
    background: rgb(201, 201, 201);
    display: flex;
    font-size: 1rem;
    border: none;
    width: 100%;
    height: 3rem;
    padding: 0.1rem 0.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;

    @media (max-width:768px) {
        font-size: 0.8rem;
        margin-right: 0.5rem;
        width: 17rem;
        font-size: 0.8rem;
        height: 2rem;
        padding: 0.1rem 0.5rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;

    }

}

.error {
    color: rgb(255, 118, 118);
    font-size: 0.7rem;
}

.required-text {
    color: rgb(177, 177, 177);
    font-size: 0.7rem;
}