
:root {
  --font-albert: var(--font-albert);
  --font-barlow: var(--font-barlow);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-albert), sans-serif;
}